.meal-list{
    list-style: none;
    background: azure;
    border-radius:1rem ;
    padding: 1rem;
    margin: 1rem auto;
    width: 45rem;
}

.meal-list__item{
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;

}

.meal-list__item .details{
    display: flex;
    flex-direction:column;
}

.meal-list__item .name{
    font-weight: bold;
}

.meal-list__item .desc{
    font-style: italic;
}

.meal-list__item .price{
    font-weight: bold;
    color:darkred;
}

.line{
    margin-top:1rem;
    border-bottom: 1px solid black;
    width: 100%;
}