.cart-items{
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
}

.cart-item{
    display: flex;
    justify-content: space-between;
}

.total{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.actions{
    font-weight: bold;
    display: flex;
    justify-content: flex-end; 
    margin:0.5rem 0;
}

.button--alt{
    border-radius: 1.5rem;
    border-color:rgba(118, 31, 9, 0.313) ;
    color: rgb(118,31,9);
    margin:0 0.5rem ;
    padding: 0.5rem 1rem;
}

.button{
    border-radius: 1.5em;
    background-color:rgb(118,31,9) ;
    color: white;
    padding: 0.5rem 1rem;
}

button:active,
button:hover{
    opacity: 60%;
}